{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Создайте массив на N элементов и наполните случайными числами. Циклы не использовать.</span></h1>
            </div>
            <table>
                <tr>
                    <td><code>&#60;?php</code></td>
                </tr>
                <tr>
                    <td><code>$arr = array(1 => "", 2 => "");</code></td>
                </tr>
                <tr>
                    <td><code>$arr= array_map(array($this, "randNumber"), $arr);</code></td>
                </tr>
                <tr>
                    <td><code>function randNumber($a){</code></td>
                </tr>
                <tr>
                    <td><code>return  (int)$a+ rand(1, 9999);</code></td>
                </tr>
                <tr>
                    <td><code>}</code></td>
                </tr>
                <tr>
                    <td><code>?></code></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
