{% extends 'base.html.twig' %}

{% block body %}
    <h1>Films edit</h1>

    {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal controls'} }) }}
    {{ form_widget(edit_form) }}
    <input class="btn" type="submit" value="Edit"/>
    {{ form_end(edit_form) }}

    <div>

        <a href="{{ path('_index') }}">Back to the list</a>
        <div style="display: inline-block;margin-left: 20px;">
            {{ form_start(delete_form) }}
            <input class="btn" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
