{% extends 'base.html.twig' %}

{% block body %}
    <h1>Films list</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Year</th>
            <th>Is Active</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td><a href="{{ path('_show', { 'id': film.id }) }}">{{ film.id }}</a></td>
                <td>{{ film.name }}</td>
                <td>{% if film.year %}{{ film.year|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if film.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a class="btn" href="{{ path('_show', { 'id': film.id }) }}">show</a>
                    <a class="btn" href="{{ path('_edit', { 'id': film.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
