{% extends 'base.html.twig' %}

{% block body %}
    <h1>Films</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ film.name }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{% if film.year %}{{ film.year|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{% if film.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>


    <div>

        <a href="{{ path('_index') }}">Back to the list</a>&nbsp;|&nbsp;<a href="{{ path('_edit', { 'id': film.id }) }}">Edit</a>
        <div style="display: inline-block;margin-left: 20px;">
            {{ form_start(delete_form) }}
            <input class="btn" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>



{% endblock %}
